name: Test

on:
  push:
    branches:
      - '**'
      - '!dependabot/**'
    tags:
      - '**'
  pull_request:

jobs:
  test:
    name: "Ruby ${{ matrix.ruby-version }}: ${{ matrix.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
        runs-on:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
        # We can't use "bundler-cache: true" with ruby/setup-ruby
        # because it doesn't cache dependencies installed by
        # rubygems-requirements-system automatically.
      - name: Install dependencies
        run: |
          MAKEFLAGS="-j$(nproc)" bundle install --jobs=$(nproc)
      - name: "Prepare test environment: SQLite3"
        run: |
          sudo apt install -y -V \
            libadbc-driver-sqlite-dev
          latest_version=
      - name: "Test: SQLite3"
        run: |
          bundle exec rake
      - name: "Prepare test environment: PostgreSQL"
        run: |
          sudo apt install -y -V \
            libadbc-driver-postgresql-dev \
            postgresql
          sudo systemctl restart postgresql
          sudo -u postgres -H psql -c "CREATE ROLE ${USER} SUPERUSER LOGIN;"
      - name: "Test: PostgreSQL"
        env:
          ACTIVERECORD_ADBC_ADAPTER_BACKEND: postgresql
          PGHOST: /var/run/postgresql
        run: |
          bundle exec rake
      - name: "Prepare test environment: DuckDB"
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          latest_tag=$(gh release list \
                         --exclude-drafts \
                         --exclude-pre-releases \
                         --jq '.[].tagName' \
                         --json tagName \
                         --limit 1 \
                         --repo duckdb/duckdb)
          wget \
            --output-document libduckdb.zip \
            --no-verbose \
            https://github.com/duckdb/duckdb/releases/download/${latest_tag}/libduckdb-linux-amd64.zip
          unzip libduckdb.zip
          sudo mv libduckdb.so /usr/lib/
      - name: "Test: DuckDB"
        env:
          ACTIVERECORD_ADBC_ADAPTER_BACKEND: duckdb
        run: |
          bundle exec rake
      - name: Install benchmark dependencies
        run: |
          # We can use this with ubuntu-26.04.
          # sudo apt install -y -V \
          #   gr-framework-plugin-base \
          #   gr-framework-plugin-full \
          #   libgr-framework-dev
          latest_gr_tag=$(curl https://api.github.com/repos/sciapp/gr/tags | \
                            jq -r '.[].name' | \
                            head -n 1)
          latest_gr_version=${latest_gr_tag#v}
          wget \
            --output-document gr.tar.gz \
            https://github.com/sciapp/gr/releases/download/${latest_gr_tag}/gr-${latest_gr_version}-Ubuntu-x86_64.tar.gz
          tar xvf gr.tar.gz
          echo "GRDIR=${PWD}/gr" >> "${GITHUB_ENV}"
      - name: Benchmark
        env:
          PGHOST: /var/run/postgresql
        run: |
          bundle exec benchmark/load-dump.rb
      - uses: actions/upload-artifact@v5
        with:
          name: benchmark-ruby-${{ matrix.ruby-version }}
          path: |
            *.csv
            *.svg
            *.pdf
